* {
    margin: 0;
    padding: 0;
}
#h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -60px;
}

.container-slide {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 50vw;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}
.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;

}
.item {
    transition: all 1s;
    width: 50vw;
    height: 50vh;
}
.item:first-child{
    margin-left: -100%;
}
.item img {
    width: 50vw;
    border-radius: 10px;
    height: 50vh;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;

}

.action-button:hover {
    color: blanchedalmond;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;

}